.answer_comp {
  margin-top: 10px;
  margin-bottom: 15px;
  .write_answer {
    display: grid;
    grid-template-columns: 8% 90%;
    justify-content: center;
    align-items: center;
    padding: 3px 15px;
    border: 1px solid rgba(0, 0, 0, 0.205);
    border-radius: 20px;

    .profilePic {
      border-radius: 50%;
      margin-right: 5px;
      object-fit: cover;
      cursor: pointer;
    }

    .comment_form {
      display: grid;
      grid-template-columns: 75% 23%;
      justify-content: space-between;
      align-items: center;

      .comment_form_inp {
        .exact_form_inp {
          font-size: 16px;
          border-radius: 5px;
          border: none;
          outline: none;
          border-radius: 15px;
          padding: 5px 10px;
          width: 100%;
          background-color: #eee;
        }
      }

      .submit_btn {
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 15px;
        color: white;
        background-color: #3a78fc;
        font-weight: bold;
        transition: all 0.1s ease-in-out;

        &:hover {
          background-color: #0c0c0c;
        }
      }
    }
  }

  .form_err {
    color: red;
    font-size: 15px;
  }
}
