.questiondetails_component {
  margin-top: 10px;
  color: rgb(92, 92, 92);
  background-color: white;
  padding: 10px;
  h2 {
    font-size: 23px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.796) !important;
  }

  .questiondetails_user_time {
    display: grid;
    grid-template-columns: 55% 45%;
    justify-content: space-between;
    align-items: center;

    .question_user_time {
      display: flex;
      justify-content: start;
      align-items: center;
      margin: 3px 0px 15px;
      color: rgb(92, 92, 92);

      p {
        margin-right: 10px;

        .user_name {
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .q_cmnt {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .question_upd_del {
      display: flex;
      margin-left: auto;

      p {
        padding: 3px 7px 0px;
        margin-right: 5px;
        background-color: rgb(240, 239, 239);
        color: rgba(0, 0, 0, 0.796);
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }

  .post_like_line {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.205);
    margin-bottom: 0px;
  }

  .q_question {
    margin: 15px 0px;
    color: rgb(49, 49, 49);

    // Large text style
    [class~="ql-size-large"] {
      font-size: 20px;
      line-height: 1.5;
      color: #333;
    }

    // Huge text style
    [class~="ql-size-huge"] {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.5;
      color: #222;
    }

    // Small text style
    [class~="ql-size-small"] {
      font-size: 14px;
      color: #555;
    }

    // Bold large text styling
    strong[class~="ql-size-large"] {
      font-size: 20px;
      font-weight: bold;
      color: #333;
    }

    // Ordered List (ol)
    ol {
      padding-left: 30px;
      list-style-type: decimal;
      // margin: 10px 0;

      li {
        margin: 3px 0;
        line-height: 1.4;

        em {
          font-style: italic;
        }
      }
    }

    // Unordered List (ul)
    ul {
      padding-left: 30px;
      list-style-type: disc;
      // margin: 10px 0;

      li {
        margin: 3px 0;
        line-height: 1.4;

        em {
          font-style: italic;
        }
      }
    }

    // Paragraph spacing
    p {
      line-height: 1.6;
    }

    // Styling for italicized text
    em {
      font-style: italic;
      color: #444;
    }
  }

  .question_tags {
    margin-top: 10px;
    span {
      padding: 3px 7px;
      margin-right: 5px;
      background-color: rgb(219, 217, 217);
      color: rgba(0, 0, 0, 0.796);
      border-radius: 4px;
      cursor: pointer;
    }
  }

  .add_like_cmnt {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 7px;
    margin-bottom: 10px;

    p {
      margin: 10px 10px 5px 0px;
      cursor: pointer;
      font-size: 19px;
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, 0.726) !important;

      .likes {
        margin-left: 5px;
        padding-top: 2px;
        font-size: 15px;
        &:hover {
          text-decoration: underline;
        }
      }

      .comments {
        margin-left: 5px;
        font-size: 15px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .question_comments {
    margin-top: 25px;
    .q_cmnt {
      margin-bottom: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .questiondetails_component {
    .questiondetails_user_time {
      display: grid;
      grid-template-columns: 70% 30%;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media screen and (max-width: 576px) {
  .questiondetails_component {
    .questiondetails_user_time {
      display: block;

      .question_user_time {
        margin: 1px 0px 5px;

        p {
          margin-right: 2px;
        }
        .user_ask {
          display: none;
        }
      }

      .question_upd_del {
        margin-bottom: 10px;
      }
    }
  }
}
