$color1: rgb(49, 49, 49);
$color2: rgb(92, 92, 92);
.profile_main {
  .profile_main_user {
    background-color: #f6fcfd;
    padding: 8px;

    .profile_main_info {
      display: grid;
      grid-template-columns: 15% 80%;
      gap: 18px;
      justify-content: start;
      align-items: center;
      margin-bottom: 20px;

      .profile_photo {
        border-radius: 50%;
        object-fit: cover;
      }

      .profile_main_in {
        .profile_name_or_edit {
          display: grid;
          grid-template-columns: 60% 34%;
          justify-content: space-between;
          align-items: center;

          h1 {
            font-size: 24px;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.796);
          }

          .edit_profile {
            margin-left: auto;
            cursor: pointer;
            p {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 3px;
              background-color: rgb(240, 239, 239);
              padding: 3px 7px 1px 9px;
              color: rgba(0, 0, 0, 0.796);
              margin-right: 5px;
              border-radius: 6px;
            }
          }
        }

        p {
          font-size: 17px;
          color: $color1;
        }

        .title {
          margin: 1px 0px;
        }
      }
    }

    .user_qna {
      margin-top: 20px;
      color: rgba(0, 0, 0, 0.796);

      nav {
        display: flex;
        justify-content: start;
        align-items: center;
        border-bottom: 2px solid #dadada;
        margin-bottom: 20px;
        p {
          color: rgba(0, 0, 0, 0.796);
          cursor: pointer;
          padding: 0px 10px 0px 0px;
        }

        .notactive {
          margin: 0px 10px 0px 3px;
          font-size: 18px;
          cursor: pointer;
          //   color: rgba(0, 0, 0, 0.623);
        }

        .active {
          margin: 0px 10px 0px 3px;
          border-bottom: 3px solid #969696;
          cursor: pointer;
          font-size: 18px;
        }
      }
    }
  }

  .trending_questions {
    background-color: #f6fcfd;
  }
}

@media screen and (max-width: 576px) {
  .profile_main {
    .profile_main_user {
      .profile_main_info {
        display: block;

        .profile_main_in {
          .profile_name_or_edit {
            display: grid;
            grid-template-columns: 60% 34%;
            justify-content: space-between;
            align-items: center;

            .edit_profile {
              p {
                align-items: center;

                margin-right: 0px;
              }
              .edit_profile_hide {
                display: none;
              }
            }
          }
        }
      }

      .user_qna {
        nav {
          p {
            padding: 0px 3px 0px 0px;
          }

          .notactive {
            padding: 0px 3px 0px 0px;
            font-size: 17px;
          }

          .active {
            padding: 0px 3px 0px 0px;
            font-size: 17px;
          }
        }
      }
    }
  }
}
