.single_question {
  background-color: white;
  margin-bottom: 15px;
  padding: 10px 10px 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

  .question_user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .user_profile {
      border-radius: 50%;
      object-fit: cover;
      height: 37px;
      width: 37px;
    }

    .post_user_nameandtime {
      margin-left: 10px;
      .username {
        margin-top: 0px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.726);
        font-size: 16px;

        &:hover {
          text-decoration: underline;
        }
      }

      .post_date {
        font-size: 14px;
        margin-top: -5px;
        color: rgb(92, 92, 92);
      }
    }
  }

  .question_body {
    margin-top: 3px;
    .question_title {
      font-size: 17px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.796);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    .question_text {
      color: rgb(92, 92, 92);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      position: relative;
      padding-right: 100px;
      font-size: 15px;

      .question_q {
        ul {
          padding-left: 30px; // Add space for bullets
          list-style-type: disc; // Display bullets by default

          li {
            margin: 3px 0;
            // line-height: 1.4;
          }
        }

        ol {
          padding-left: 30px; // Add space for bullets
          list-style-type: decimal; // Display bullets by default

          li {
            margin: 3px 0;
            // line-height: 1.4;
          }
        }
      }
    }

    .view_more_btn {
      position: absolute;
      right: 0;
      bottom: 0;
      background: none;
      border: none;
      cursor: pointer;
      padding-left: 5px;
      text-decoration: underline;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.796);

      &:hover {
        color: #3a78fc;
      }
    }

    .add_like_cmnt {
      display: flex;
      justify-content: start;
      align-items: center;

      p {
        margin: 10px 10px 5px 0px;
        cursor: pointer;
        font-size: 19px;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.726) !important;

        .likes {
          margin-left: 5px;
          padding-top: 2px;
          font-size: 15px;
          &:hover {
            text-decoration: underline;
          }
        }

        .comments {
          margin-left: 5px;
          font-size: 15px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
